.form{
    width:50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:center ;
    height:100%;
}

.input{
    width:80%;
    margin-left: 20px;
    height:40px;
    border:none;
    margin-top: 22px;
    background-color: #f1f1f1;
    padding-left: 5px;
    border-radius: 2px;
}
.heading{
    font-weight: bold;
    font-size: 45px;
    margin-top: 10px;
    /* margin-top:-100px; */
    margin-bottom:30px;
    font-family: calibri;
    color:#0c1027;
}

.button{
    border: 0;
    border-radius: 30px;
    height:50px;
    width: 33%;
    margin-top: 40px;
    /* padding: 0.85rem; */
    font-size: 15px;
    margin-bottom: 20px;
    color: #fefefe;
    background: #0c1027;
    transition-duration: 1s;
}

.container{
    display: flex;
    justify-content: center;
}
.shadowBox{
    width:500px;
    height:90vh;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.uploadFileLogo:hover{
    cursor: pointer;
}
.button:hover{
    cursor:pointer;
}
/* @media screen and (max-width: 900px){
    .form{
        width:100%;
        margin-top: 40px;
    }
    .login{
        display: block;
        width:95%;
        margin-left:3%;
    }
} */